

/*-----Colors-----*/

/*.panel.callout p {
  color: #ffffff;
}*/

#mainbgcolor, #mainfgcolor, #maintextcolor, #secbgcolor1, #secbgcolor2, #sectextcolor, #alertgoodcolor, #alertbadcolor {
  border: none;
  min-height: 50px;
}

#mainbgcolor {
  background: #4aa9db;
  color: #ffffff;
}

#mainfgcolor {
  background: #09064d;
  color: #ffffff;
}

#maintextcolor {
  background: #414042;
  color: #ffffff;
}

#secbgcolor1 {
  background: #979797;
  color: #ffffff;
}

#secbgcolor2 {
  background: #f7f7f7;
}

#sectextcolor {
  background: #000000;
  color: #ffffff;
}

#alertgoodcolor {
  background: #6ac20a;
  color: #ffffff;
}

#alertbadcolor {
  background: #d0021b;
  color: #ffffff;
}


/*-----Specific Styles for the Style Guide page only-----*/
body {
  background-color: #4aa9db;
}
.mainsection {
  background-color: #ffffff;
  padding: 2rem;
}

.masterside-nav {
  background: #4aa9db;
  height: 100vh;
}

.masterside-nav h1 {
  color: #ffffff;
  padding: 0.5rem;
}

.side-nav {
  background: #4aa9db;
  padding: 0.5rem;
}

.side-nav h1 {
  color: #ffffff;
}

.side-nav li a:not(.button) {
  color: #ffffff;
}

#darkbg {
  background: #4aa9db;
}

.graytitle {
  font-weight: bold;
  text-transform: uppercase;
  color: #979797;
}
