@import "foundationsettings";
@import "foundation";
// @import "cssreset";

/*  ==================================================
    Global Style Variables
    ==================================================  */

$bodyFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontBold: 700;
$fontReg: 400;
$fontLight: 300;

$primaryColor: #4aa9db; /* Cyan blue */
$secondaryColor: #09064d; /* Dark blue */
$primaryTextColor: #414042; /* Dark gray */
$secondaryTextColor: #979797; /* Med gray */
$fieldColor: #f7f7f7; /* Light gray */
$successColor: #6ac20a; /* Bright green */
$errorColor: #d0021b; /* Bright red */
$black: #000;
$white: #fff;


/*  ==================================================
    Typography
    ==================================================  */

body {
    font: $bodyFontFamily;
}

h1 {
    font-weight: $fontBold;
}

h2 {
    font-weight: $fontReg;
}

h3 {
    font-weight: $fontReg;
}

label {
    font-weight: $fontLight;
    color: $secondaryColor;
}



/*  ==================================================
    Colors
    ==================================================  */

.colorBox {
    padding: 1rem;
    margin: 0.5rem;
    color: $white;
}

.primaryColor {
    background: $primaryColor;
}

.secondaryColor {
    background: $secondaryColor;
}

.primaryTextColor {
    background: $primaryTextColor;
}

.secondaryTextColor {
    background: $secondaryTextColor;
}

.fieldColor {
    background: $fieldColor;
    color: $black;
}

.successColor{
    background: $successColor;
}

.errorColor {
    background: $errorColor;
}



/*  ==================================================
    Forms, Radios and Checkboxes
    ==================================================  */

select, input[type="text"], input[type="radio"], input[type="checkbox"], .prefix  {
    background: $fieldColor;
    border: 1px solid $fieldColor;
    outline: none;
    border: none;
    box-shadow: none;
    color: $primaryTextColor;
}

select, input[type="text"], .prefix {
    height: 3.5rem;
    vertical-align: middle;
}

select {
    background: url("../img/arrowDropdown.png") no-repeat right;
    background-size: 4% auto;
    border: 1px solid $secondaryColor;
}

select:active,
select:hover,
select:focus,
input:active,
input:hover,
input:focus {
    border: 1px solid $primaryColor;
    transition: none;
    box-shadow: none;
}


/* There is likely a better way to do this placeholder styling */
::-webkit-input-placeholder {
    color: $secondaryTextColor;
}

::-moz-placeholder {
    color: $secondaryTextColor;
}

:-ms-input-placeholder {
    color: $secondaryTextColor;
}


/*  ==================================================
    Validation
    ==================================================  */


/*  ==================================================
    Buttons and Links
    ==================================================  */


/*  ==================================================
    Icons
    ==================================================  */

.panel {

}


/*  ==================================================
    Specific Styles for the Style Guide page only
    ==================================================  */

body {
    background-color: $primaryColor;
}

.mainsection {
    background-color: $white;
    padding: 2rem;
}

.masterside-nav {
    background: $primaryColor;
}

.masterside-nav h1 {
    color: $white;
    padding: 0.5rem;
}

.side-nav {
    background: $primaryColor;
    padding: 0.5rem;
}

.side-nav h1 {
    color: $white;
}

.side-nav li a:not(.button) {
    color: $white;
}

.sectionTitle {
    font-weight: bold;
    text-transform: uppercase;
    color: $secondaryTextColor;
}
